
<header class="hero position-relative text-dark py-50">
  <div class="overlay"></div>
  <div class="container position-relative py-5 d-flex flex-column align-items-left text-left">
    <h1 class="display-5 fw-bold mb-2">{{ welcomeMessage }}</h1>
    <p class="lead mb-3" *ngIf="!isLoggedIn">Delicious meals, delivered fast to your door!</p>
    <p class="lead mb-3" *ngIf="isLoggedIn">Delicious meals, delivered fast to your door!</p>
    <div class="d-flex gap-2 flex-wrap justify-content-left">
      <a routerLink="/" class="btn btn-danger btn-lg" style="border-radius: 30px;">Order Now</a>
      <a routerLink="/login" class="btn btn-outline-light btn-lg" style="border-radius: 30px;" *ngIf="!isLoggedIn">Sign in</a>
    </div>
  </div>
</header>